---
import { type CollectionEntry } from 'astro:content';

import Pill from '@/components/taxonomy/pill.astro';
import PillList from '@/components/taxonomy/pill-list.astro';

type Props = CollectionEntry<'blog'>['data'];

const { date, updatedDate, category, series, tags } = Astro.props;
---

<div class="article--metadata">
  <section>
    <p>published: {date}</p>
    {updatedDate && <p>updated: {updatedDate}</p>}
  </section>

  <section class="article--taxonomy">
    {
      category && (
        <section>
          <span>
            category: <Pill type="category" value={category} />
          </span>
        </section>
      )
    }

    {
      series && (
        <section>
          <span>
            part of series: <Pill type="series" value={series} />
          </span>
        </section>
      )
    }

    {
      tags.length > 0 && (
        <PillList>
          {tags.map((tag) => (
            <Pill value={tag} type="tag" />
          ))}
        </PillList>
      )
    }
  </section>
</div>

<article class="article--contents">
  <slot />
</article>
