---
import { type CollectionEntry } from 'astro:content';

import Tags from '@/components/taxonomy/tags.astro';
import Category from '@/components/taxonomy/category.astro';
import Series from '@/components/taxonomy/series.astro';

type Props = CollectionEntry<'blog'>['data'];

const { date, updatedDate, category, series, tags } = Astro.props;
---

<div class="article--metadata">
  <section>
    <p>published: {date}</p>
    {updatedDate && <p>updated: {updatedDate}</p>}
  </section>

  <section class="article--taxonomy">
    {
      category && (
        <section>
          <span>
            category: <Category value={category} />
          </span>
        </section>
      )
    }

    {
      series && (
        <section>
          <span>
            part of series: <Series value={series} />
          </span>
        </section>
      )
    }

    <Tags values={tags} />
  </section>
</div>

<article class="article--contents">
  <slot />
</article>
