---
import type { CollectionEntry } from 'astro:content';

import Tags from '@/components//taxonomy/tags.astro';
import Category from '@/components//taxonomy/category.astro';
import Series from '@/components//taxonomy/series.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

{
  posts.map((post) => (
    <article class="blog-roll">
      <span class="blog-roll--date">{post.data.date}</span>

      <header class="blog-roll--header">
        <h2>
          <a class="blog-roll--title" href={`/blog/${post.id}`}>
            {post.data.title}
          </a>
        </h2>
        <Category value={post.data.category} />
      </header>

      <section class="blog-roll--tags">
        <Series value={post.data.series} />
        <Tags values={post.data.tags} />
      </section>
    </article>
  ))
}
