---
import type { CollectionEntry } from 'astro:content';

import Pill from '@/components/taxonomy/pill.astro';
import PillList from '@/components/taxonomy/pill-list.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

{
  posts.map((post) => (
    <article class="blog-roll">
      <span class="blog-roll--date">{post.data.date}</span>

      <header class="blog-roll--header">
        <h2>
          <a class="blog-roll--title" href={`/blog/${post.id}`}>
            {post.data.title}
          </a>
        </h2>
        <Pill type="category" value={post.data.category} />
      </header>

      <section class="blog-roll--taxonomy">
        {post.data.series && (
          <span>
            <span class="blog-roll--taxonomy--label">part of series: </span>
            <Pill type="series" value={post.data.series} />
          </span>
        )}
        <span class="flex-right">
          {post.data.tags.length > 0 && (
            <PillList>
              {post.data.tags.map((tag) => (
                <Pill value={tag} type="tag" />
              ))}
            </PillList>
          )}
        </span>
      </section>
    </article>
  ))
}
