---
/**
  This is the default layout component to be used for all pages.

  There are 2 slots
    - header
    - unnamed default

  The header slot defaults to a generic BaseHead component if unspecified.

  The unnamed slot is for content going inside <main>
*/

import { sitemap } from '@/__content/sitemap';
import BaseHead from '@/components/BaseHead.astro';

import styles from './layout.module.scss';
import header from './header.module.scss';
import footer from './footer.module.scss';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="head">
      <BaseHead />
    </slot>
  </head>
  <body>
    <header class={header.container}>
      <div class={header.root}>
        <p class={header.siteLogo}>
          <a href="/">Sen Hongo</a>
        </p>

        <nav class={header.nav}>
          <a href="/now">Now</a>
          <a href="/blog">Blog</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </nav>

        <a class={styles.millefeuilleCta} href="https://millefeuille.app">
          Try Millefeuille
        </a>
      </div>
    </header>

    <section class={styles.title}>
      <h1>{title}</h1>
    </section>

    <main class={styles.main}>
      <slot />
    </main>

    <footer class={footer.root}>
      <div class={footer.wrapper}>
        <section class={styles.millefeuillePr}>
          <p class={styles.millefeuilleCatchphrase}>
            A million layers of <br />
            pure financial goodness
          </p>

          <a href="https://millefeuille.app" class={styles.millefeuilleCta}>
            Try Millefeuille.app
          </a>
        </section>

        <section class={footer.body}>
          <section class={footer.sitemap}>
            {
              sitemap.map((section) => (
                <nav class={footer.nav}>
                  {section.links.map((link) => (
                    <a href={link.url}>{link.label}</a>
                  ))}
                </nav>
              ))
            }
          </section>

          <div class={footer.credits}>
            <p>&#169; Sen Hongo</p>

            <nav class={footer.social}>
              <a href="https://github.com/senhongo">
                <img src="/github-mark.png" width="30" />
              </a>
              <a href="https://www.linkedin.com/in/sen-hongo/">
                <img src="/In-Blue-128@2x.png" width="30" />
              </a>
            </nav>
          </div>
        </section>
      </div>
    </footer>
  </body>
</html>
